<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
      class="page-item"
      [ngClass]="{ active: i === currentPage }" 
      *ngIf="checkWindowIndex(i)"
    >
      <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
    </li>
    </ng-container>
    
    <li class="page-item" [ngClass]="{ disabled: currentPage === 20 }">
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<div class="image">
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url">
</div>

<!--<a class="page-link" (click)="currentPage = currentPage - 1">Prev</a> once we click on Prev the currentPage will subtract 1 moving the page one back, the opposite happens when we click on next-->

<!--<li class="page-item" [ngClass]="{disabled: currentPage === 0}"> if the currentPage is equal to 0 the class disabled will be active, meaning the button will be disabled-->

<!--<a (click)="currentPage = i" once we click on a number the currentPage will be equal to that same index, the page we are iterating through, moving to that same page-->

<!-- *ngFor="let image of images; let i = index;"> The ngFor allows us to loop throug the array images, with the index variable we can store in i every loop we make, when we print the variable i we will get the index of that object-->

<!--[ngClass]="{active: i === currentPage}" This creates an object, on this object we add the name of the class (active) as a key and the value for that is a boolean value
if i === currentPage evaluates to true then the class will be active-->

<!--<h4>{{ images[currentPage].title }}</h4> using interpolation the code looks at the images array, checks the index of currentPage and prints the title belonging to that object-->

<!-- <ng-container *ngFor="let image of images; let i = index"> ng-container exists to allow us to use more than on directive inside the same element, if we need to use more than one and don't use ng-container we will get an error-->
